<p>
    <h1>
        User Form
    </h1>
    <form action="/" method="post">
        <div style="display: flex;flex-direction:column;align-items: normal;">
            <input name="Name" type="text" placeholder="For Name" />
            <input name="SurName" type="text" placeholder="For SurName" />
            <input name="Age" type="number" placeholder="For Age" />
        </div> 
    <br>
    <input type="submit" value="Send"/>
    </form>
</p>