
<p>
  <h1>
    <% if(locals.list){ %> 
     <% list.forEach(element => { %>
      
      Youer Name :<strong><%= element.Name%></strong><br>
      Sur Name :<strong><%= element.SurName%></strong><br>
      Age :<strong><%= element.Age%></strong><br>

      <% }); %>


    <% } %>
  </p>

