
<p>
  <h1>
    <% if(locals.Name){ %> 
      Youer Name :<strong><%= Name%></strong><br>
    <% } %>
 
    <% if(locals.SurName){ %> 
      Sur Name :<strong><%= SurName%></strong><br>
    <% } %>

    <% if(locals.Age){ %> 
    Age :<strong><%= Age%></strong><br>
    <% } %>
  </p>

